@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scroll::-webkit-scrollbar:vertical {
    width: 0px;
}

.scroll::-webkit-scrollbar-button:increment,
.scroll::-webkit-scrollbar-button {
    display: none;
}

.scroll::-webkit-scrollbar:horizontal {
    height: 0px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
}

.scroll::-webkit-scrollbar-track {
    border-radius: 10px;
}
/* Scroll Hidden */
.scroll-hidden::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scroll-hidden::-webkit-scrollbar:vertical {
    width: px;
}

.scroll-hidden::-webkit-scrollbar-button:increment,
.scroll-hidden::-webkit-scrollbar-button {
    display: none;
}

.scroll-hidden::-webkit-scrollbar:horizontal {
    height: 5px;
}

.scroll-hidden::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
}

.scroll-hidden::-webkit-scrollbar-track {
    border-radius: 10px;
}